body{background: #f5f5f5}.rounded{border-radius: 1rem}.nav-pills .nav-link{color: #555}.nav-pills .nav-link.active{color: white}input[type="radio"]{margin-right: 5px}.bold{font-weight:bold}

.pointer{
    cursor: pointer;
}

.pointer.nav-link.active {
    background-color: #FECE22;
}
.subscribe{
    background-color: #FECE22;
    border-width: 2px;
    border-color:#FECE22;
}

.container {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}