#account-actions li {
    padding: 0% 25px;
}

#account-actions li:hover {
    color: black;
}

#account-actions a {
    padding: 10px 25px;
    min-width: 20px;
}

nav {
    padding: 20px 40px;
    padding-bottom: 0;
    background-color: #373b3fbd;
    // background-image: url('https://wallpapers.com/images/featured/16mi3e7v5hxno9c4.jpg');
}

nav ul strong {
    font-size: 34px;
    color: white;
}

