#item-shop {
    max-width: 500px;
    max-height: 800px;
    overflow-y: scroll;
    /* overflow-x: hidden; */
}

h2 {
    margin: 20px 120px;
    border-radius: 8%;
    background-color: rgba(97, 97, 97, 0.733);
    font-size: 24px;
    padding: 5px 0px;
}

div > details {
    margin: 0px 100px;
    margin-top: 15px;
}

#item-shop-list {
    border-width: 4px;
    padding-top: 20px;
}

#item-shop-list img {
    max-height: 300px;
}

#item-shop summary {
    font-size: 20px;
}

#item-shop details summary, p {
    color: black;
}

.item-desc {
    font-size: 16px;
}

button {
    max-width: 100px;
    max-height: fit-content;
    font-size: 18px;
}

.cost-value {
    padding: 10% 0;
    max-width: 100px;
}

.cost-value p {
    font-size: 18px;
}
