<div id="item-shop">

    <h2>Item Shop</h2>
    <div id="item-shop-list">
    <ng-container *ngIf="itemShop.length > 0; else empty">
        <div *ngFor="let item of itemShop">
            <details>
                <summary (click)="getItemImage(item.name)"><span style="text-transform: capitalize;">{{item.name}}</span></summary>
                <!-- <summary (click)="getItemImage(item.name)"><span style="text-transform: capitalize;">{{item.name}}</span></summary> -->
                <div>
                    <div class="grid">
                        <div class="cost-value">
                            <p>Cost: {{item.price}} rupees</p>
                            <p>Attack: {{item.powerIncrease}}</p>
                        </div>
                        <div class="buy-btn" id="item.name" (click)="addToCart(item.productID)"><button>Add to cart</button></div>
                    </div>

                    <img [src]="XapiRoot + item.name + imgRoot"/>
                    <p class="item-desc">Description: {{item.description}}</p>
                </div>
            </details>
        </div>
    </ng-container>

    <ng-template #empty>
        <div>
            <p>Nothing to show here!</p>
        </div>
    </ng-template>

    </div>

</div>