body {
    background: rgb(99, 39, 120)
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.save-button {
    background: white;
    color: black;
    box-shadow: none;
    margin-right:20%;
    margin-left: 1%;
    border: 2px solid #FECE22;


}

.save-button:hover {
    background-color: #FECE22;
}

.exit-button {
    background: white;
    box-shadow: none;
    color: black;
    border: 2px solid red;
    margin-right: 10%;
    margin-left: 1%;
}

.exit-button:hover {
    background-color: red;
}

.profile-button:hover {
    background: #113ce9
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 15px
}
