<ng-container *ngIf="viewTransact">
    <div id="transact-details-div">
        <button id="exit-btn" (click)="toggleExit()">X</button>
        <div id="transaction-details">
            <p>{{transacString}}</p>
            <!-- <p>I am transaction details paragraph</p> -->
        </div>
    </div>
</ng-container>

<div class="transac-table">
    <h3>Transaction History</h3>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Recipient</th>
                <th scope="col">Sender</th>
                <th scope="col">Amount</th>
                <th scope="col">Date</th>
                <th scope="col">Description</th>
            </tr>
        </thead>

        <tbody>
            <ng-container *ngIf="Transactions.length > 0">
                <tr *ngFor="let transac of Transactions">
                    <td *ngIf="transac.recipientEmail != undefined; else default">
                        {{transac.recipientEmail}}
                    </td>
                    <ng-template #default>
                        <td>You</td>
                    </ng-template>

                    <td *ngIf="transac.senderEmail != undefined; else default">
                        {{transac.senderEmail}}
                    </td>
                    <ng-template #default>
                        <td>You</td>
                    </ng-template>
                    <td [ngClass]="{'minus' : transac.senderEmail == user,
                    'plus' : transac.senderEmail != user}">${{transac.amount}}</td>
                    <td>{{transac.createdAt | date: 'shortDate'}}</td>
                    <td class="transac-description" (click)="viewTransaction($event)">{{transac.description}}</td>
                </tr>
            </ng-container>
            <!-- <tr>
                <td>recipientEmail@gmail.com</td>
                <td>senderEmail@gmail.com</td>
                <td [ngClass]="'minus'">$100</td>
                <td>02/12/23</td>
                <td class="transac-description" (click)="viewTransaction($event)">I HOPE TO BE AN OVERFLOWING TEXT SO THAT I CAN TEST WHAT WILL HAPPEN WHEN THE TEXT BECOMES WAY TOO LONG FOR ME TO FIT IN THE BOX. SHOULD I USE A SCROLL OR JUST EXPAND?</td>
            </tr> -->
        </tbody>
    </table>

</div>