.column {
    float: left;
  }

#linkButton{
    /* width: 350px; */
}

.yellow-button{
    width: 280px;
    height: 56px;
    background: #FECE22;
    border-radius: 12px;
    border: #FECE22;
    text-align: center;
    color: #262626;
    font-weight: 700;
    font-size: 16px;
}

#transferButton{
}
.link-p{
    font-weight: bold; 
    color: #FECE22;
}

.container {
    justify-content: center;
    padding: 40px 20%
}

.shadow-sm {
    padding: 40px 20%;
    text-align: center;
}

.cards {
    border: 1.5px solid rgb(121, 121, 121);
    border-radius: 15px;
    justify-content: center;
    min-width: fit-content;
    max-width: 300px;
    margin: 10px 30%;
    padding-top: 10px;
}

.action-buttons-div {
    margin: 20px 0;
}

.action-btn {
    margin: 0 15px;
}

.action-btn:hover {
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

h2 {
    font-size: 36px;
}