.app-container {
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    background-color: #373b3fbd;
    padding-bottom: 100px;
}

.grid {
    padding-top: 50px;
}

#item-shop-div {
    max-width: 500px;
    background-color: #cdd3dabd;
    // margin-bottom: 100px;
    // padding-bottom: 100px;
}

#inventory-div {
    max-width: 500px;
    background-color: #cdd3dabd;
    // margin-bottom: 100px;
    // padding-bottom: 100px;
}

#char-img-div {
    width: 100%;
}
