/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { 
    font-family: Roboto, "Helvetica Neue", sans-serif;

    text-align: center;
}
html {
    background-image: url("https://w0.peakpx.com/wallpaper/529/484/HD-wallpaper-zelda-the-legend-of-zelda-landscape-link-the-legend-of-zelda.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}